/* Common Styles */

body {
    font-family: 'Lato', sans-serif;
}

/* Banner Section Styles */

.banner {
    padding: 50px 90px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 708px;
}

.banner-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    margin-bottom: 32px;
}

.shop-now {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

.banner .banner-flower {
    width: 635px;
}

.header {
    background-color: #E554731A;
}

/* Featured Flowers Section Styles */

.flower-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.flower-section-description {
    text-align: center;
}

#desc {
    margin: 24px 470px 48px;
}

.featured-flowers {
    display: flex;
    gap: 20px;
    padding: 0px 50px;
}

.featured-flower-1 {
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    padding: 110px 75px 0px;
}

.featured-flower-2 {
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 117px 45px 51px;
}

.featured-flower-3 {
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 67px 75px 0px;
}

.pink-flower-tree {
    text-align: center;
    color: #272727;
}

/* Hot Deal Section Styles */

.hot-deal {
    padding: 300px;
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    max-width: 1922px;
    max-height: 20px;

}

.hot-deal-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.text-primary {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.sign-up {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

/* Instagram Styles */

.instagram-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 450px 48px;
}

.instagram-photos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Latest Deals Styles */

.latest-deals {
    background-image: url('../img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 100px 35px 10px 35px;
    padding: 100px 50px;
    justify-content: center;

    .latest-deals-heading {
        color: #272727;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
    }

    .latest-deals-description {
        color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }

}

.contact input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    margin: 40px 0px 0px 220px;
}

.subscribe {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-left: 10px;
}

/* Testimonial Styles */

.testimonial{
    margin: 0px 35px 20px 35px;
    padding: 50px 50px;
}

.testimonial-heading{
    color: #272727;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
}

.testimonial-description{
    color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
}

.testimonial-names{
    color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
}

.testimonial-pic{
    padding: 0px 620px;
}

/* Footer Styles */

.footer-section {
    background-color: black;
    padding: 125px 450px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.flower{
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;    
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}